@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Oswald:wght@300&family=Pathway+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Oswald:wght@300&family=Pathway+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Oswald:wght@300&family=Pathway+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Oswald:wght@300&family=Pathway+Gothic+One&display=swap");
a {
  text-decoration: none;
}
a :hover {
  color: #ecf0f1;
}

p {
  color: #ecf0f1;
}

.tit {
  color: #ED4C67;
  font-size: 20px;
}

.title {
  font-size: 30px;
  color: #ff3838;
}

.text {
  color: #F8EFBA;
  font-size: 20px;
}

.letras {
  font-size: 18px;
  color: #ED4C67;
}

.color {
  color: #ecf0f1;
}

/****** AREAS ******/
body {
  background-color: #353b48;
}

main {
  width: 100%;
}

header {
  grid-area: header;
  width: 100%;
  height: 15%;
  padding-left: 1%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #d81289;
}

nav {
  grid-area: nav;
  width: 100%;
  font-family: "Pathway Gothic One", sans-serif;
  float: right;
}

section {
  grid-area: seccion;
  font-family: "Pathway Gothic One", sans-serif;
  padding: 2%;
}

article {
  grid-area: article;
  padding: 2%;
  font-family: "Oswald", sans-serif;
}

aside {
  grid-area: publi;
  padding: 2%;
  font-family: "Pathway Gothic One", sans-serif;
  background-color: darkgrey;
}

footer {
  grid-area: footer;
  padding: 2%;
  background-color: #000000;
  color: #ecf0f1;
  font-family: "Pathway Gothic One", sans-serif;
}
footer a {
  color: #d81289;
}

/****** FONDO INDEX ******/
.fondoIndex {
  height: 85vh;
  background-image: url(../imagenes/fondito.jpg);
  background-position: center center;
  background-size: cover;
}

/****** NAV ******/
.bienvenidx {
  padding: 4%;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.logoFlex {
  display: flex;
  flex-flow: wrap nowrap;
  justify-content: flex-start;
}

.logo {
  float: left;
  margin: 1%;
}

.tituloInicial {
  font-family: "Bangers", cursive;
  font-size: 150%;
  color: #d81289;
}

/****** EXTEND ******/
#papaMovilidad, #papaImperdibles {
  width: 100%;
  height: 300px;
  padding: 1%;
  margin-bottom: 6%;
}

#papaHoteles, #tioHoteles {
  width: 50%;
  height: 350px;
  float: left;
  padding: 1%;
  margin-bottom: 3%;
}

#tioHoteles {
  float: right;
}

/****** MIXINS ******/
.imagenes, .imagenesFormu, .imagenesImper {
  width: 50%;
  float: left;
  padding: 2%;
}

.texto, .textoFormu, .textoImper {
  width: 50%;
  float: right;
  padding: 2%;
}

.espacio {
  height: 40vh;
}

.alaDere {
  float: right;
  padding-right: 6%;
}

/****** FOOTER ******/
.contacto {
  padding: 2%;
  height: 100vh;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(99, 110, 114, 0.8);
  border-style: solid;
  float: left;
}

.empleo {
  width: 50%;
  height: 90vh;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  float: right;
}

.diCaprio {
  text-align: center;
}

.trabajo {
  height: 60vh;
  padding-top: 5%;
  padding-left: 10%;
}

.textoFormu {
  padding-top: 10%;
}

.formu {
  width: 70%;
  float: left;
}

.boton {
  width: 30%;
  height: 4vh;
}

input[type=text] {
  width: 70%;
  margin: 1%;
  padding: 1%;
}

input[type=email] {
  width: 70%;
  margin: 1%;
  padding: 1%;
}

textarea {
  width: 90%;
  margin: 2%;
  padding: 1%;
}

.redes {
  width: 30%;
  float: right;
}
.redes li {
  list-style-type: none;
  display: inline-block;
  margin-right: 5%;
  float: right;
}

a {
  text-decoration: none;
}
a :hover {
  color: #ecf0f1;
}

p {
  color: #ecf0f1;
}

.tit {
  color: #ED4C67;
  font-size: 20px;
}

.title {
  font-size: 30px;
  color: #ff3838;
}

.text {
  color: #F8EFBA;
  font-size: 20px;
}

.letras {
  font-size: 18px;
  color: #ED4C67;
}

.color {
  color: #ecf0f1;
}

/* MENU PRINCIPAL */
#menuFlex {
  width: 70%;
  display: flex;
  flex-flow: wrap nowrap;
  justify-content: flex-end;
  align-items: center;
}
#menuFlex li {
  list-style-type: none;
  font-size: 150%;
  margin: 2%;
}
#menuFlex li a {
  color: #d81289;
}

/* MENU SECUNDARIO */
.largo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.largo div a {
  color: black;
}

.propMenu {
  width: 12%;
  margin: 2%;
  padding: 2%;
  text-align: center;
  font-size: 20px;
  color: #000;
  background-color: rgba(7, 153, 146, 0.6);
}

/****** MAPA ******/
.argentinaSection {
  background-image: url(../imagenes/fondoBanAr.jpg);
  background-size: contain;
}

.brasilSection {
  background-image: url(../imagenes/fondoBanbr.jpg);
  background-size: contain;
}

.colombiaSection {
  background-image: url(../imagenes/fondoBancol.jpg);
  background-size: contain;
}

.mexicoSection {
  background-image: url(../imagenes/fondoBanmexx.jpg);
  background-size: contain;
}

a {
  text-decoration: none;
}
a :hover {
  color: #ecf0f1;
}

p {
  color: #ecf0f1;
}

.tit {
  color: #ED4C67;
  font-size: 20px;
}

.title {
  font-size: 30px;
  color: #ff3838;
}

.text {
  color: #F8EFBA;
  font-size: 20px;
}

.letras {
  font-size: 18px;
  color: #ED4C67;
}

.color {
  color: #ecf0f1;
}

/*ANIMACIONES*/
.menuAnima {
  animation-name: menuAnimado;
  animation-iteration-count: 1;
  animation-duration: 2s;
}

@keyframes menuAnimado {
  from {
    transform: translateX(-300px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
a {
  text-decoration: none;
}
a :hover {
  color: #ecf0f1;
}

p {
  color: #ecf0f1;
}

.tit {
  color: #ED4C67;
  font-size: 20px;
}

.title {
  font-size: 30px;
  color: #ff3838;
}

.text {
  color: #F8EFBA;
  font-size: 20px;
}

.letras {
  font-size: 18px;
  color: #ED4C67;
}

.color {
  color: #ecf0f1;
}

/****** AREAS ******/
body {
  background-color: #353b48;
}

main {
  width: 100%;
}

header {
  grid-area: header;
  width: 100%;
  height: 15%;
  padding-left: 1%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #d81289;
}

nav {
  grid-area: nav;
  width: 100%;
  font-family: "Pathway Gothic One", sans-serif;
  float: right;
}

section {
  grid-area: seccion;
  font-family: "Pathway Gothic One", sans-serif;
  padding: 2%;
}

article {
  grid-area: article;
  padding: 2%;
  font-family: "Oswald", sans-serif;
}

aside {
  grid-area: publi;
  padding: 2%;
  font-family: "Pathway Gothic One", sans-serif;
  background-color: darkgrey;
}

footer {
  grid-area: footer;
  padding: 2%;
  background-color: #000000;
  color: #ecf0f1;
  font-family: "Pathway Gothic One", sans-serif;
}
footer a {
  color: #d81289;
}

/****** FONDO INDEX ******/
.fondoIndex {
  height: 85vh;
  background-image: url(../imagenes/fondito.jpg);
  background-position: center center;
  background-size: cover;
}

/****** NAV ******/
.bienvenidx {
  padding: 4%;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.logoFlex {
  display: flex;
  flex-flow: wrap nowrap;
  justify-content: flex-start;
}

.logo {
  float: left;
  margin: 1%;
}

.tituloInicial {
  font-family: "Bangers", cursive;
  font-size: 150%;
  color: #d81289;
}

/****** EXTEND ******/
#papaMovilidad, #papaImperdibles {
  width: 100%;
  height: 300px;
  padding: 1%;
  margin-bottom: 6%;
}

#papaHoteles, #tioHoteles {
  width: 50%;
  height: 350px;
  float: left;
  padding: 1%;
  margin-bottom: 3%;
}

#tioHoteles {
  float: right;
}

/****** MIXINS ******/
.imagenes, .imagenesImper, .imagenesFormu {
  width: 50%;
  float: left;
  padding: 2%;
}

.texto, .textoImper, .textoFormu {
  width: 50%;
  float: right;
  padding: 2%;
}

.espacio {
  height: 40vh;
}

.alaDere {
  float: right;
  padding-right: 6%;
}

/****** FOOTER ******/
.contacto {
  padding: 2%;
  height: 100vh;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(99, 110, 114, 0.8);
  border-style: solid;
  float: left;
}

.empleo {
  width: 50%;
  height: 90vh;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  float: right;
}

.diCaprio {
  text-align: center;
}

.trabajo {
  height: 60vh;
  padding-top: 5%;
  padding-left: 10%;
}

.textoFormu {
  padding-top: 10%;
}

.formu {
  width: 70%;
  float: left;
}

.boton {
  width: 30%;
  height: 4vh;
}

input[type=text] {
  width: 70%;
  margin: 1%;
  padding: 1%;
}

input[type=email] {
  width: 70%;
  margin: 1%;
  padding: 1%;
}

textarea {
  width: 90%;
  margin: 2%;
  padding: 1%;
}

.redes {
  width: 30%;
  float: right;
}
.redes li {
  list-style-type: none;
  display: inline-block;
  margin-right: 5%;
  float: right;
}

/*DESKTOP*/
@media (min-width: 1024px) {
  /*GRID AREAS INTERNAS*/
  #gridInternas {
    display: grid;
    grid-template-areas: "nav nav nav" "seccion seccion seccion" "article article article" "footer footer footer";
    grid-template-columns: 1fr auto 30%;
    grid-template-rows: 1fr auto auto 1fr;
  }

  .contacto {
    width: 35%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(99, 110, 114, 0.8);
    border-style: solid;
  }

  .probando, #papaImperdibles {
    width: 100%;
    height: 350px;
    padding: 1%;
    margin-bottom: 6%;
  }
}
/*TABLET*/
@media (min-width: 721px) and (max-width: 1023px) {
  /*GRID AREAS INDEX*/
  #gridAreas {
    display: grid;
    grid-template-areas: "header nav" "seccion seccion" "article article" "footer footer";
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto 30% 1fr;
  }

  /*GRID AREAS INTERNAS*/
  #gridInternas {
    display: grid;
    grid-template-areas: "nav nav" "seccion seccion" "article article" "footer footer";
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr auto auto 1fr;
  }

  .foto {
    display: none;
  }

  .tituloInicial {
    font-family: "Bangers", cursive;
    font-size: 200%;
    float: right;
    margin-left: 2%;
    padding-top: 2%;
    float: right;
  }

  .propMenu {
    width: 22%;
    margin: 2%;
    padding: 2%;
    text-align: center;
    font-size: 18px;
    color: #000;
    background-color: rgba(7, 153, 146, 0.6);
  }

  .contacto {
    width: 45%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(99, 110, 114, 0.8);
    border-style: solid;
  }

  .empleo {
    width: 45%;
    height: 90vh;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    float: right;
  }

  .imagenesFormu {
    margin-top: 10%;
    width: 100%;
  }

  .textoFormu {
    width: 100%;
  }

  #papaImperdibles {
    width: 100%;
    height: 300px;
    padding: 1%;
    margin-bottom: 6%;
  }

  #papaHoteles, #tioHoteles {
    width: 100%;
    height: 350px;
    padding: 1%;
    margin-bottom: 3%;
  }

  #tioHoteles {
    width: 100%;
    height: 450px;
    padding: 1%;
    margin-bottom: 3%;
  }

  #papaMovilidad, #papaImperdibles {
    width: 100%;
    height: 450px;
    padding: 1%;
    margin-bottom: 0%;
  }

  .imagenesImper {
    width: 100%;
    padding: 2%;
  }

  .textoImper {
    width: 100%;
    padding: 2%;
    word-wrap: break-word;
  }
}
@media (min-width: 481px) and (max-width: 720px) {
  /*GRID AREAS INDEX*/
  #gridAreas {
    display: grid;
    grid-template-areas: "header" "nav" "seccion" "article" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr auto 30% 1fr;
  }

  /*GRID AREAS INDEX*/
  #gridInternas {
    display: grid;
    grid-template-areas: "nav" "seccion" "article" "footer";
    /*Dimensiones*/
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto auto 1fr;
  }

  .propMenu {
    width: 25%;
    margin: 2%;
    padding: 2%;
    text-align: center;
    font-size: 15px;
    color: #000;
    background-color: rgba(7, 153, 146, 0.6);
  }

  #papaImperdibles {
    width: 100%;
    height: 350px;
    padding: 1%;
    margin-bottom: 0%;
  }

  #papaHoteles, #tioHoteles {
    width: 100%;
    height: 680px;
    padding: 1%;
    margin-bottom: 1%;
  }

  #tioHoteles {
    width: 100%;
    height: 680px;
    padding: 1%;
    margin-bottom: 1%;
  }

  .smart, .texto, .textoImper, .textoFormu, .imagenes, .imagenesImper, .imagenesFormu {
    width: 100%;
    padding: 2%;
  }

  .contacto {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(99, 110, 114, 0.8);
    border-style: solid;
  }

  .empleo {
    width: 100%;
    height: 90vh;
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: 2%;
    float: right;
  }

  .imagenesFormu {
    width: 100%;
  }

  .textoFormu {
    width: 100%;
  }
}
/*SMARTHPHONE*/
@media (max-width: 480px) {
  /*GRID AREAS INDEX*/
  #gridAreas {
    display: grid;
    grid-template-areas: "header" "nav" "seccion" "article" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr auto 30% 1fr;
  }

  /*GRID AREAS INDEX*/
  #gridInternas {
    display: grid;
    grid-template-areas: "nav" "seccion" "article" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto auto 1fr;
  }

  .tituloInicial {
    font-family: "Bangers", cursive;
    font-size: 200%;
    float: right;
    margin-left: 2%;
    padding-top: 5%;
    float: right;
  }

  .propMenu {
    width: 25%;
    margin: 2%;
    padding: 2%;
    text-align: center;
    font-size: 15px;
    color: #000;
    background-color: rgba(7, 153, 146, 0.6);
  }

  /*CONTENIDO*/
  #papaHoteles, #tioHoteles {
    width: 100%;
    height: 550px;
    padding: 1%;
  }

  #tioHoteles {
    width: 100%;
    height: 550px;
    padding: 1%;
  }

  #papaImperdibles {
    width: 100%;
    height: 300px;
    padding: 1%;
  }

  .smartDos, .texto, .textoImper, .textoFormu, .imagenes, .imagenesImper, .imagenesFormu {
    width: 100%;
    padding: 2%;
  }

  .contacto {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(99, 110, 114, 0.8);
    border-style: solid;
  }

  .empleo {
    width: 100%;
    height: 80vh;
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: 2%;
    float: right;
  }

  .imagenesFormu {
    width: 100%;
  }

  .textoFormu {
    width: 100%;
  }
}
/*UNIVERSALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=estilos.css.map */
