@import "texto";

/****** AREAS ******/

body{
	background-color: #353b48;
}

main{
	width: 100%; 
}


header{
	grid-area: header;
	width: 100%;
	height: 15%;
	padding-left: 1%;
	background-color: rgba(0, 0, 0, 0.7);
	color: $rosa;	
}

nav{
	grid-area: nav;
	width: 100%;
	font-family: $pathway;
	float: right;
}

section{
	grid-area: seccion;
	font-family: $pathway;
	padding: 2%;
}

article{
	grid-area: article;
	padding: 2%;
	font-family: $oswald;
}

aside{
	grid-area: publi;
	padding: 2%;
	font-family: $pathway;
	background-color: darkgrey;
}

footer{
	grid-area: footer;
	padding: 2%;
	background-color: #000000;
	color: $blanco;
	font-family: $pathway;

	a{
		color: $rosa;
	}
}



/****** FONDO INDEX ******/

.fondoIndex{
	height: 85vh;
	background-image: url(../imagenes/fondito.jpg);
	background-position: center center;
	background-size: cover;
}




/****** NAV ******/

.bienvenidx{	
	padding: 4%;
	font-family: $oswald;
	text-align: center;
}

.logoFlex{
	display: flex;
	flex-flow: wrap nowrap;
	justify-content: flex-start;
}

.logo{
	float: left;
	margin: 1%;

}

.tituloInicial{
	font-family: 'Bangers', cursive;
	font-size: 150%;
	color: $rosa;
}








/****** EXTEND ******/

#papaMovilidad{
	width: 100%;
	height: 300px;
	padding: 1%;
	margin-bottom: 6%;
}

#papaImperdibles{
	@extend #papaMovilidad;
}


#papaHoteles{
	width: 50%;
	height: 350px;
	float: left;
	padding: 1%;
	margin-bottom: 3%;
}

#tioHoteles{
	@extend #papaHoteles;
	float: right;
}



/****** MIXINS ******/

@mixin ubicacion($ancho, $float, $padding){
	width: $ancho;
	float: $float;
	padding: $padding;
}


.imagenes{
	@include ubicacion(50%, left, 2%);
}

.texto{
	@include ubicacion(50%, right, 2%);
}

.imagenesImper{
	@extend .imagenes;
}

.textoImper{
	@extend .texto;
}



.espacio{
	height: 40vh;
}


.alaDere{
	float: right;
	padding-right: 6%;
}








/****** FOOTER ******/

.contacto{
	padding: 3%;
	height: 100vh;
	margin-left: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: rgba(99, 110, 114,0.8);
	border-style: solid;
	float: left;
}

.empleo{
	width: 50%;
	height: 90vh;
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	float: right;
}

.diCaprio{
	text-align: center;
}

.trabajo{
	height: 60vh;
	padding-top: 5%;
	padding-left: 10%;
}

.imagenesFormu{
	@extend .imagenes;
}

.textoFormu{
	@extend .texto; 
	padding-top: 10%;
}

.formu{
	width: 70%;
	float: left;
}


.boton{
	width: 30%;
	height: 30px;
	font-size: 15px;
	padding: 0.5%

}

input[type=text] {
	width: 70%;
	margin: 1%;
	padding: 1%; 
}

input[type=email] {
	width: 70%;
	margin: 1%;
	padding: 1%; 
}

textarea {
	width: 90%;
	margin: 2%;
	padding: 1%;
}


.redes{
		width: 30%;
 		float: right;
	li{
		list-style-type: none;
		display: inline-block;
		margin-right: 5%;
		float: right;
	}
}